<div class="row">
    <div class="col-6 offset-3">
        <ng-container *ngIf="(todoList$ | async) as todoList; else loading">
            <p class="h3 text-center">Todo List
                <span class="tasks-count" *ngIf="todoList">({{todoList?.todoItems?.length}})</span>
            </p>
            <div class="list-group">
                <a class="todo-item list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true"
                    *ngFor="let todoItem of todoList.todoItems">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">{{ todoItem.name }}</h6>
                            <p class="mb-0 opacity-75">{{ todoItem.description }}</p>
                        </div>
                    </div>
                </a>
            </div>
        </ng-container>

        <ng-template #loading>
            <app-loading [show]="true"></app-loading>
        </ng-template>
    </div>
</div>